.our-customers {
    width: 1200px;
    margin: 50px auto;

}
.our-customers__happy-customer {
    margin-right: -150px;
}
.our-customers__happy-customer h2 {
    font-size: 35px;
    font-weight: 500;
    line-height: 50px;
    text-align: center;
    color: #0B132A;
}
.our-customers__happy-customer p {
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    color: #4F5665;
    margin-top: 20px;
}
.happy-customer__feedback {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
}
.customer-feedback {
    width: 400px;
    height: 230px;
    border-radius: 10px;
    border: 2px solid #DDDDDD;
    padding: 30px;
}
.customer-feedback_border{
    border: 2px solid #F53838;
}
.customer-information {
    display: flex;
    justify-content: space-between;
}
.customer-img {
    display: flex;
    align-items: center;
}
.customer-name {
    height: 50px;
    margin-left:21px;
}
.customer-name h6 {
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
}
.customer-name p {
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    color: #4F5665;
    margin: 0;
    text-align: start;
}
.customer-mark {
    display: flex;
    align-items: center;
}
.customer-mark p {
    font-size: 16px;
    font-weight: 400;
    margin: 0 10px 0 0;
}
.customer-comment p {
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    text-align: start;
    color: #0B132A;
}
.slider-img {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}