header {
    height: 110px;
    padding: 50px;
}
.header-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-logo {
    margin-right: 150px;
}
nav ul li {
    color: red;
    display: inline-block;
    list-style: none;
    margin-right: 50px;
}
nav ul li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color: #4F5665;
}
.header-button .btn4 {
    width: 150px;
}
.header-button_sign-in {
    border: none;
    width: 100px;
    height: 19px;
    font-size: 16px;
    font-weight: 700;
    color: #0B132A;
    background-color: transparent;
}
.home-block__home-page {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}
.home-block__home-text h1 {
    font-size: 50px;
    font-weight: 500;
    line-height: 70px;
    color: #0B132A;
}
.home-block__home-text .text700 {
    font-weight: 700;
}
.home-block__home-text p {
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    color: #4F5665;
    margin: 20px 0 50px 0;
}
.home-block__home-text .text500 {
    font-weight: 500;
}
.home-block__home-ratings {
    width: 1140px;
    display: flex;
    justify-content: space-around;
    margin-top: 103px;
}

.home-ratings__rating {
    display: flex;
    border-right: 2px solid #EEEFF2;
}
.home-ratings__rating img {
    margin-right: 36px;
}
.rating h4 {
    font-size: 25px;
    font-weight: 700;
    line-height: 30px;
}
.rating p {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    color: #4F5665;
    margin-top: 5px;
}