.subscribe {
    margin-top: -188px;
}
.subscribe__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 58px 70px;
    border-radius: 10px;
    background-color: #FFFFFF;
    position: relative;
    top: 188px;
    z-index: 5;
}
.subscribe__send {
    width: 370px;
}
.subscribe__send .send-text1{
    font-size: 35px;
    font-weight: 500;
    line-height: 45px;
    color: #0B132A;
}
.subscribe__send .send-text2 {
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    color: #4F5665;
}

/*footer styles*/

.footer {
    margin-top: 63px;
    height: 563px;
    background-color: #F8F8F8;
    padding: 180px 0 100px 0;
}
.footer__columns {
    display: flex;
    justify-content: space-between;
}
.footer__columns .column1 {
    width: 340px;
    margin-right: 230px;
}
.column1 .column1_text {
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    color: #4F5665;
    margin: 20px 0 30px 0;
}
.column1 span {
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    color: #0B132A;
}
.column1 .column1_lasles {
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    color: #AFB5C0;
}
.column ul li {
    list-style: none;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    color: #4F5665;
}
.column ul li:first-child {
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    color: #0B132A;
}
